.base-table {
    padding: 10px;
    box-sizing: border-box;
    .base-table-required {
        color: var(--el-color-danger);
    }
    .el-tag + .el-tag {
        margin-left: 8px;
    }
}

.base-table-pagination {
    display: flex;
    &.base-table-pagination-bottomLeft {
        justify-content: flex-start;
    }
    &.base-table-pagination-bottomCenter {
        justify-content: center;
    }
    &.base-table-pagination-bottomRight {
        justify-content: flex-end;
    }
}
