.base-column-setting {
    .base-icon-setting:hover {
        color: var(--el-color-primary);
        transform: scale(1.3);
    }
    .base-column-content {
        border: 1px solid var(--base-dialog-border-color);
        .base-column-title {
            background-color: var(--base-column-setting-header-color);
        }
        .base-column-list {
            .base-column-checkbox {
                width: calc(33% - 30px);
                :deep(.el-checkbox__label) {
                    width: calc(100% - 13px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
        .base-column-choose {
            border: 1px solid var(--base-column-setting-header-color);
            .base-column-title {
                height: 32px;
                line-height: 32px;
            }
        }
    }
}
