body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

#app {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.fr {
    float: right;
}
.fl {
    float: left;
}
.tc {
    text-align: center;
}
.tl {
    text-align: left;
}
.tr {
    text-align: right;
}
.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}
.inline {
    display: inline;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.flex {
    display: flex;
}
.flex-auto {
    flex: 1;
}
.flex-center {
    align-items: center;
    justify-content: center;
    display: flex;
}
.flex-row-center {
    align-items: center;
    display: flex;
}
.flex-col-center {
    justify-content: center;
    display: flex;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-end {
    justify-content: flex-end;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.border-box {
    box-sizing: border-box;
}

.text-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.all-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.hidden {
    overflow: hidden;
}

$directions: (
    "w": "width",
    "h": "height"
);

@each $dir in $directions {
    @for $i from 0 through 10 {
        $size: $i * 10;
        .#{nth($dir,1)}#{$size} {
            #{nth($dir,2)}: #{$size}#{"%"} !important;
        }
    }
}

@for $i from 12 through 32 {
    .font#{$i} {
        font-size: #{$i}px !important;
    }
}

@for $i from 0 through 6 {
    $size: $i * 5;
    .margin#{$size} {
        margin: #{$size}px !important;
    }
    .mt#{$size} {
        margin-top: #{$size}px !important;
    }
    .mr#{$size} {
        margin-right: #{$size}px !important;
    }
    .mb#{$size} {
        margin-bottom: #{$size}px !important;
    }
    .ml#{$size} {
        margin-left: #{$size}px !important;
    }
    .padding#{$size} {
        padding: #{$size}px !important;
    }
    .pt#{$size} {
        padding-top: #{$size}px !important;
    }
    .pr#{$size} {
        padding-right: #{$size}px !important;
    }
    .pb#{$size} {
        padding-bottom: #{$size}px !important;
    }
    .pl#{$size} {
        padding-left: #{$size}px !important;
    }
}

[v-cloak] {
    display: none;
}
