html {
    // base-column-setting 头部颜色
    --base-column-header-color: #f4f6fa;

    //navbar 图标hover颜色
    --base-nav-bar-box-hover: rgba(0, 0, 0, 0.025);

    //tag border
    --base-tag-border: rgba(175, 175, 175, 0.3);
    //tag shadow
    --base-tag-shadow: rgb(0 21 41 / 8%);

    //menu背景颜色
    --el-menu-bg-color: rgb(41, 51, 72) !important;
    //submenu 背景颜色
    --el-submenu-bg-color: rgb(30, 36, 48) !important;
    // menu 文字颜色
    --el-menu-text-color: hsla(0, 0%, 100%, 0.65) !important;

    // menu hover 背景颜色
    --el-menu-hover-bg-color: transparent !important;

    //menu active文字颜色
    --el-menu-active-color: #fff !important;

    //系统主体背景颜色
    --base-main-bg-color: #f0f2f5;
    //系统主体 内容颜色
    --base-main-content-bg-color: #fff;
}
