//配置dark下的样式

$--colors: ();

@forward "element-plus/theme-chalk/src/dark/var.scss" with (
    $colors: $--colors
);

html.dark {
    //navbar 图标hover颜色
    --base-nav-bar-box-hover: rgba(255, 255, 255, 0.06);

    //tag border
    --base-tag-border: #4f4f4f;
    //tag shadow
    --base-tag-shadow: rgb(0 21 41 / 8%);

    //menu背景颜色
    --el-menu-bg-color: #181717 !important;
    //submenu 背景颜色
    --el-submenu-bg-color: #101010 !important;
    // menu 文字颜色
    --el-menu-text-color: hsla(0, 0%, 100%, 0.65) !important;

    // menu hover 背景颜色
    --el-menu-hover-bg-color: transparent !important;

    //menu active文字颜色
    --el-menu-active-color: #fff !important;

    //系统主体背景颜色
    --base-main-bg-color: #000;
    //系统主体 内容颜色
    --base-main-content-bg-color: #1d1e1f;
}
