//配置dark下的样式

$--colors: ();

@forward "element-plus/theme-chalk/src/dark/var.scss" with (
    $colors: $--colors
);

html.dark {
    // base-empty 文字颜色
    --base-empty-description: #00000040;

    // base-dialog border颜色
    --base-dialog-border-color: #f0f0f0;

    // base-column-setting 头部颜色
    --base-column-setting-header-color: #f4f6fa;

    //menu基础颜色
    --base-menu-color: #fff;
    //menu背景颜色
    --el-menu-bg-color: #191b24 !important;
    // menu 文字颜色
    --el-menu-text-color: #ffffffb3 !important;

    // menu hover 背景颜色
    --el-menu-hover-bg-color: transparent !important;
    //menu hover文字颜色
    --base-menu-hover-text-color: var(--base-menu-color);

    //menu active 背景颜色
    --base-menu-active-bg-color: var(--el-color-primary);
    //menu active文字颜色
    --el-menu-active-color: var(--base-menu-color) !important;

    //navbar 图标hover颜色
    --base-nav-bar-box-hover: rgba(255, 255, 255, 0.1);
    //nav shadow
    --base-nav-shadow: rgba(123, 123, 123, 0.3);
}
