// $--colors: (
//     // "primary": (
//     //     "base": green
//     // ),
//     // "success": (
//     //     "base": #21ba45
//     // ),
//     // "warning": (
//     //     "base": #f2711c
//     // ),
//     // "danger": (
//     //     "base": #db2828
//     // ),
//     // "error": (
//     //     "base": #db2828
//     // ),
//     // "info": (
//     //     "base": #42b8dd
//     // )
// );

// @forward "element-plus/theme-chalk/src/common/var.scss" with (
//     $colors: $--colors
// );
@use "./base.scss";
@use "./dark.scss";
